
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Custom-Bg {
    background-color: #65dcdd;
}
.gap {
    margin: 7px;
}
.custom-c {
    margin-top: 68px;
}
.Custom-A {
    margin-top: 65px;
}
.Custom-B {
    margin-top: 120px;
}
.custom-D {
    margin-top: 48px;
}
.custom-E {
    margin-top: 70px;
}
.custom-F {
    margin-top: 105px;
}
/* resposvice */
@media screen and (max-width:991px) {
    .custom-c{
        height: 450px;
        width: 100%;
    }
}
@media screen and(max-width:) {
    
}
/* =====card-responsive-start==== */
.custom-m{
    margin: 8px;
    width: 310px !important;
}
@media screen and (max-width: 1400px){
    .custom-m{
        width: 265px !important;
    }
}
@media screen and (max-width: 1200px){
    .custom-m{
        width: 220px !important;
    }
}
@media screen and (max-width: 992px){
    .custom-m{
        width: 160px !important;
    }
}
@media screen and (max-width: 768px){
    .custom-m{
       width: 155px !important;
       margin: 5px;
    }
}
@media screen and (max-width: 495px){
    .custom-m{
       width: 220px !important;
       margin: 8px;
    }
}
@media screen and (max-width: 472px){
    .custom-m{
      
       margin: 7px;
    }
}
@media screen and (max-width: 468px){
    .custom-m{
      
       margin: 6px;
    }
}
@media screen and (max-width: 464px){
    .custom-m{
      
       margin: 3px;
    }
}
@media screen and (max-width: 452px){
    .custom-m{
      width: 210px !important;
       margin: 3px;
    }
}
@media screen and (max-width: 432px){
    .custom-m{
      width: 200px !important;
       margin: 3px;
    }
}
@media screen and (max-width: 412px){
    .custom-m{
      width: 190px !important;
       margin: 3px;
    }
}
@media screen and (max-width: 392px){
    .custom-m{
      width: 180px !important;
       margin: 3px;
    }
}
@media screen and (max-width: 372px){
    .custom-m{
      width: 170px !important;
       margin: 3px;
    }
}
@media screen and (max-width: 352px){
    .custom-m{
      width: 160px !important;
       margin: 3px;
    }
}
@media screen and (max-width: 332px){
    .custom-m{
      width: 150px !important;
       margin: 3px;
    }
}
@media screen and (max-width: 312px){
    .custom-m{
      width: 140px !important;
       margin: 3px;
    }
}
@media screen and (max-width: 292px){
    .custom-m{
      width: 135px !important;
       margin: 3px;
    }
}
@media screen and (max-width: 282px){
    .custom-m{
      width: 250px !important;
       margin: 3px;
    }
}
/* =====card-responsive-end====== */
